**/.git
.gitignore
Dockerfile

/res_unoptimized

# dependencies
/node_modules

# testing
/coverage

# production
/dist
dist.tgz

# misc
.DS_Store

.idea
Jenkinsfile
.git
npm-debug.log*
yarn-debug.log*
yarn-error.log*